<a href="https://colab.research.google.com/github/spoorthybalaji/Online-Workshop-on-Applications-of-Python-programming-in-DA-and-ML/blob/master/Day2_session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLE

1. Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
n=int(input("Enter the number of students: "))
d={}
for i in range(n):
  name=input("Enter the name of the student ")
  d[name]=int(input("Enter the marks of the student "))
import operator  
sort_d=sorted(d.items(),key=operator.itemgetter(1),reverse=True) 
print(sort_d)

Enter the number of students: 3
Enter the name of the student XYZ
Enter the marks of the student 50
Enter the name of the student ABC
Enter the marks of the student 46
Enter the name of the student PQR
Enter the marks of the student 42
[('XYZ', 50), ('ABC', 46), ('PQR', 42)]

2. Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
n=int(input("Enter the number of employees: "))
d={}
for i in range(n):
  name=input("Enter the name of the employee")
  d[name]=int(input("Enter the salary of the employee"))
import operator  
sort_d=sorted(d.items(),key=operator.itemgetter(1)) 
print(sort_d)

Enter the number of employees: 2
Enter the name of the employeeLMN
Enter the salary of the employee20000
Enter the name of the employeePQR
Enter the salary of the employee25000
[('LMN', 20000), ('PQR', 25000)]

3. Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [ ]:
n=int(input("Enter the number of employees: "))
d={}
for i in range(n):
  name=input("Enter the name of the employee ")
  d[name]=int(input("Enter the salary of the employee "))
import operator  
sort_d=sorted(d.items(),key=operator.itemgetter(1)) 
print(sort_d)
print("Sum of the salary: ",sum(d.values()))
print("Max of the salary: ",max(d.values()))
print("Min of the salary: ",min(d.values()))
print("Average of the salary: ",(sum(d.values())/n))

Enter the number of employees: 2
Enter the name of the employee ABC
Enter the salary of the employee 25000
Enter the name of the employee XYZ
Enter the salary of the employee 20000
[('XYZ', 20000), ('ABC', 25000)]
Sum of the salary:  45000
Max of the salary:  25000
Min of the salary:  20000
Average of the salary:  22500.0

4. Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
n=int(input("Enter the number of employees: "))
d={}
for i in range(n):
  name=input("Enter the name of the employee")
  d[name]=int(input("Enter the salary of the employee"))
for k,v in d.items():  
  if(v>2000 and v<40000):
    print(k,"->",v)

Enter the number of employees: 4
Enter the name of the employeeABC
Enter the salary of the employee20000
Enter the name of the employeeXYZ
Enter the salary of the employee25000
Enter the name of the employeePQR
Enter the salary of the employee42000
Enter the name of the employeeLMN
Enter the salary of the employee26000
ABC -> 20000
XYZ -> 25000
LMN -> 26000

5. Python program to convert a 3 digit number  into words

In [ ]:
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("498"); 
convert_to_words("540"); 
convert_to_words("25");

498 : four hundred ninety eight
540 : five hundred forty 25 : twenty five

#Files

1. Python Program to count the total number of charaters (except blank space) in a text file.

In [ ]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 charc += 1
 
print ("total num of characters: ",charc);

Enter File name : pythonExample.txt
total num of characters:  62

2. Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()	
w = []	
d = {} 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

Enter File name : pythonExample.txt
1 : 1
2 : 1

3. Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [ ]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

Enter file to be read from: pythonExample.txt
Enter file to be appended to: out.txt

4. Python Program to count the number of blank spaces in a text file.

In [ ]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

Enter file name: pythonExample.txt
Occurrences of blank spaces:
62

6. Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [ ]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
  with open("out.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("out.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()

Enter file name: pythonExample.txt
1.Hello World

2.Python Program To Count The Number Of Words In A Text File.