<a href="https://colab.research.google.com/github/spoorthybalaji/Online-Workshop-on-Applications-of-Python-programming-in-DA-and-ML/blob/master/Day2_Session2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DICTIONARY

1.	Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [3]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  mark=int(input("Enter mark %d"%(i)))
  d[name]=mark
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print("output: ",sorted_a)

Enter no of records2
Enter name 1swathi
Enter mark 189
Enter name 2chandu
Enter mark 288
input:  {'swathi': 89, 'chandu': 88}
output:  [('swathi', 89), ('chandu', 88)]

2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [4]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(0))
print("output: ",sorted_a)

Enter no of records2
Enter name 1spoo
Enter salary 140000
Enter name 2swathi
Enter salary 250000
input:  {'spoo': 40000.0, 'swathi': 50000.0}
output:  [('spoo', 40000.0), ('swathi', 50000.0)]


3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and sum, max, min and average of the salaries

In [5]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=float(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1))
print("output: ",sorted_a)
v = d.values()
print("sum: ",sum(v))
print("max: ",max(v))
print("min: ",min(v))
print("avg: ",(sum(v)/n))

Enter no of records2
Enter name 1spoo
Enter salary 150000
Enter name 2swathi
Enter salary 245000
input:  {'spoo': 50000.0, 'swathi': 45000.0}
output:  [('swathi', 45000.0), ('spoo', 50000.0)]
sum:  95000.0
max:  50000.0
min:  45000.0
avg:  47500.0

4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [7]:
n=int(input("Enter no of records"))
d={}
import operator
for i in range(1,n+1):
  name= input("Enter name %d"%(i))
  s=int(input("Enter salary %d"%(i)))
  d[name]=s
print("input: ",d)
for key,value in d.items():
    if value>=2000 and value<=4000:
         print(d[key],"=",key)

Enter no of records2
Enter name 1spoo
Enter salary 13000
Enter name 2swathi
Enter salary 23500
input:  {'spoo': 3000, 'swathi': 3500}
3000 = spoo
3500 = swathi

5.	Python program to convert a 3 digit number  into words

In [9]:
def convert_to_words(num):  
    l = len(num);    
    if (l == 0): 
        print("empty string"); 
        return; 
  
    if (l > 4): 
        print("Length more than 4 is not supported"); 
        return;   
    single_digits = ["zero", "one", "two", "three",  
                     "four", "five", "six", "seven",  
                     "eight", "nine"];  
    two_digits = ["", "ten", "eleven", "twelve",  
                  "thirteen", "fourteen", "fifteen",  
                  "sixteen", "seventeen", "eighteen", 
                  "nineteen"];  
    tens_multiple = ["", "", "twenty", "thirty", "forty", 
                     "fifty", "sixty", "seventy", "eighty",  
                     "ninety"]; 
    tens_power = ["hundred", "thousand"];   
    print(num, ":", end = " ");   
    if (l == 1):  
        print(single_digits[ord(num[0]) - '0']); 
        return;  
    x = 0; 
    while (x < len(num)):    
        if (l >= 3): 
            if (ord(num[x]) - 48 != 0): 
                print(single_digits[ord(num[x]) - 48],  
                                           end = " "); 
                print(tens_power[l - 3], end = " ");  
                  
            l -= 1; 
        else:   
            if (ord(num[x]) - 48 == 1):  
                sum = (ord(num[x]) - 48 + 
                       ord(num[x]) - 48); 
                print(two_digits[sum]); 
                return;   
            elif (ord(num[x]) - 48 == 2 and 
                  ord(num[x + 1]) - 48 == 0): 
                print("twenty"); 
                return;  
            else: 
                i = ord(num[x]) - 48; 
                if(i > 0): 
                    print(tens_multiple[i], end = " "); 
                else: 
                    print("", end = ""); 
                x += 1; 
                if(ord(num[x]) - 48 != 0): 
                    print(single_digits[ord(num[x]) - 48]); 
        x += 1;  
convert_to_words("666"); 
convert_to_words("756"); 
convert_to_words("987");

666 : six hundred sixty six
756 : seven hundred fifty six
987 : nine hundred eighty seven

FILES

1. Python Program to count the total number of charaters (except blank space) in a text file.

In [0]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()			
charc = 0	
for i in text:				
	if(i != " " and i != "\n" ):
		 charc += 1
 
print ("total num of characters: ",charc);

2. Python Program to print all the numbers present in a text file with its total number of occurrence.

In [0]:
input_file = input("Enter File name : ")
file_txt = open(input_file)		
text = file_txt.read()	
w = []	
d = dict() 
for line in text: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

3. Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [0]:
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

4. Python Program to count the number of blank spaces in a text file.

In [0]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)


5. Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it .

In [0]:
fname = input("Enter file name: ")
with open(fname, 'r') as f:
  with open("out.txt", "w") as f1:
    for line in f:
        l=line.title()
        f1.write(l)
file2=open("out.txt",'r')
line=file2.readline()
while(line!=""):
    print(line)
    line=file2.readline()
file2.close()